@import "../../../vars.css";

/* .head {
    margin: 0;
    padding-top: 0;
} */

.head {
    margin: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 50px;
    background-color: #222229;
    border-radius: 10px 10px 0 0;
}

.head h2 {
    font-size: 60px;
    color: rgb(212, 225, 236);
    font-weight: 400;
    margin-left: 50px;
    margin-bottom: 30px;
}

.head p {
    color: rgb(212, 225, 236);
    font-size: 20px;
}
