@import "../../vars.css";

/* .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
} */

.navbar {
    width: 100%;
    background: #8a8fa3;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;

}


.logout {
    justify-content: center;
    border-radius: 10px;
    font-weight: 300;
    padding: 7px 6px;
    background-color: rgba(185, 188, 194, 0.7);
    box-shadow: 0 0 8px 0 rgba(7, 46, 129, 0.25);
}




.Signup {
    margin-right: 150px;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 600;
    padding: 7px 6px;
    background-color: rgba(185, 188, 194, 0.7);
    box-shadow: 0 0 8px 0 rgba(7, 46, 129, 0.25);
}


.title {
    cursor: pointer;
    margin-left: 120px;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.title:hover {
    border-bottom: 3px solid yellow;
}


.menu {
    display: flex;

}

.menuItems {
    margin-top: 10px;
    margin-right: 120px;
    display: inline-flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    /* font-style: italic; */
    padding-top: 100px;
    font-size: 22px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    border-bottom: 2px solid yellow;
}



@media  screen and (max-width: 830px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }


    .menu{
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 50px;
        padding-top: 2px;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25, 55,109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
        padding: 24px 35px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;

    }

    /* .menuBtn {
        width: 6%;
        padding-top: 2px;
    } */


}