.container {
    position: relative;
    width: 420px;
    height: 350px;
    background: transparent;
    border: 7px solid ;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: 0 0 10px ;
    color: white;
    display: flex;
    align-items: center;
}


.box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 70px 0;
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
}

.box h3 {
    font-size: 20px;
    text-align: center;
}

.box button {
    font-size: 16px;
    border-radius: 5px;
    color-scheme: white;
}
.container1 {
    position: relative;
    width: 420px;
    height: auto;
    background: transparent;
    border: 7px solid ;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: 0 0 10px ;
    color: white;
    display: flex;
    align-items: center;
}

.formBox {
    width: 100%;
    padding: 40px;
    border-radius: 30px;
}

form .inputBox {
    position: relative;
    margin-bottom: 2px;
    width: 100%;
    height: 30px;
    margin: 15x 0;
    border-radius: 10px;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 45px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    padding-right: 80px;
}

.inputBox input::placeholder {
    color: white;
}

form button {
    margin-left: 75px;
    width: 50%;
    height: 25px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    font-weight: 700;
}






form .event {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.event p  {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.event p :hover {
    text-decoration: underline;
}
